.mobile-only {
  display: none !important;

  .button-group {
    width: 100%;

    button {
      font-size: 3em;
      line-height: 1em;
      padding: 0.5em;
      width: 100%;
    }
  }
}

@media all and (max-width: 480px) {
  .raid {
    h1 {
      time:after {
        content: '';
      }

      .raid-name {
        display: block;
        padding-top: 5px;
      }
    }

    .column {
      margin-top: 20px;
      padding: 0 !important;
      width: 100%;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  .raid,
  .footer {
    button {
      display: block;
      width: 100%;
    }

    .button-wrapper {
      display: block;
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

@media all and (max-device-width: 480px) {
  .mobile-only {
    display: flex !important;
  }
}
